<%= render 'public/after_sign_in_nav', customer: current_customer %>
<div class="container">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <div class="col-9 offset-md-1">
      <%= render 'public/menue' %>
      <h2 class="mt-5">基本情報確認・編集画面</h2>
      <%= form_with model:@customer, url: {controller: 'customers', action: 'update' }, method: :patch, local:true do |f| %>
      <div class="row">
        <div class="col-3 mt-5">
          <%= f.label:last_name, "姓", class: "form_label" %>
          <%= f.text_field:last_name, class: "form-control" %>
        </div>
        <div class="col-3 mt-5">
          <%= f.label:first_name, "名", class: "form_label" %>
          <%= f.text_field:first_name, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-5">
          <%= f.label:last_name_kana_name, "セイ", class: "form_label" %>
          <%= f.text_field:last_name_kana, class: "form-control" %>
        </div>
        <div class="col-3 mt-5">
          <%= f.label:first_name_kana, "メイ", class: "form_label" %>
          <%= f.text_field:first_name_kana, class: "form-control" %>
        </div>
      </div>
      <div class="col-3 mt-5">
        <%= f.label:postal_code, "郵便番号", class: "form_label" %>
        <%= f.text_field:postal_code, class: "form-control" %>
      </div>
      <div class="col-6 mt-5">
        <%= f.label:address, "住所", class: "form_label" %>
        <%= f.text_field:address, class: "form-control" %>
      </div>
      <div class="col-3 mt-5">
        <%= f.label:phone_number, "電話番号", class: "form_label" %>
        <%= f.text_field:phone_number, class: "form-control" %>
      </div>
      <div class="col-3 mt-5">
        <%= f.label:transfer_target, "振込先", class: "form-label" %>
        <%= f.text_field:transfer_target, class: "form-control" %>
      </div>
      <div class="row m-5">
        <%= link_to "確認完了", customer_path(current_customer), class: "btn btn-primary col-2 me-3" %>
        <%= f.submit "編集する", class: "btn btn-info col-2 me-2" %>
        <%= link_to "退会する", current_customer_cancel_path, class: "btn btn-danger col-2" %>
      </div>
      <% end %>
    </div>
  </div>
</div>