<%= render 'public/after_sign_in_nav', customer: current_customer %>
<%= render 'public/menu' %>
<div class="container">
  <div class="row">
    <%= render partial: 'layouts/sidebar', locals: { categories: @categories, tags: @tags } %>
    <div class="col-9 offset-md-1">
      <h2 class="mt-5">プロフィール登録・編集</h2>
      <%= form_with model:@customer, url: current_customer_path, method: :patch, local:true do |f| %>
        <div class="col-6 mt-5">
          <%= f.label :profile, "プロフィール", class: "form-label" %>
          <%= f.text_area :profile, class: "form-control" %>
        </div>
        <div class="col-4 mt-5">
          <%= f.label :image, "プロフィール画像", class: "form-label" %>
          <%= f.attachment_field :image, class: "form-control" %>
        </div>
        <div class="row mt-5">
          <%= f.submit "登録する", class: "btn btn-info col-2 me-3" %>
          <%= f.submit "変更する", class: "btn btn-primary col-2" %>
        </div>
      <% end %>

    </div>
  </div>
</div>