<%= render 'public/after_sign_in_nav', customer: current_customer %>
<%= render 'public/menu' %>
<div class="container">
  <div class="row">
    <%= render partial: 'layouts/sidebar', locals: { categories: @categories, tags: @tags } %>
    <div class="col-9 offset-md-1">
      <div class="row">
        <%= attachment_image_tag @customer, :image, :fill, 50, 50, format: 'png', fallback: "22322188.png", class: "mt-5 col-1"%>
        <h2 class="col-5 me-auto ms-3 d-flex align-items-end"><%= @customer.nickname %></h2>
        <% if @customer==current_customer %>
        <div class="col-5 d-flex align-items-end">
          <%= link_to "編集する", current_customer_unique_path, class: "btn btn-light me-3" %>
          <%= link_to "配送先情報へ", addresses_path, class: "btn btn-light me-3" %>
          <%= link_to "基本情報へ", current_customer_personal_path, class: "btn btn-light" %>
        </div>
        <% end %>
      </div>
      <h4 class="mt-5">プロフィール</h4>
      <div class="card col-6">
        <div class="card-body">
          <%= @customer.profile %>
        </div>
      </div>
      <div class="col mt-5">
        <h4>学び中</h4>
        <table class="table table-hover">
          <thead class="fs-5">
            <tr>
              <th>講座名</th>
              <th>進捗状況</th>
              <th>受講状況</th>
              <th>更新日</th>
            </tr>
          </thead>
          <tbody class="fs-5">
            <% @have_lessons.each do |have_lesson| %>
            <tr>
              <td>
              <%= link_to have_lesson_path(have_lesson.id), class: "link-dark" do %>
                <%= have_lesson.lesson.name %>
              <% end %>
              </td>
              <td><%= have_lesson.progress %>％</td>
              <td><%= have_lesson.is_in_study_i18n %></td>
              <td>
                <% if have_lesson.lesson.contract_period == 0 %>
                  単発のため更新なし
                <% else %>
                  <%= l update_at_date(have_lesson.updated_at, have_lesson.lesson.contract_period) %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col mt-5">
        <h4>教え中</h4>
        <table class="table table-hover">
          <thead class="fs-5">
            <tr>
              <th>講座名</th>
              <th>作成日</th>
              <th>更新日</th>
              <th>開講状況</th>
            </tr>
          </thead>
          <tbody class="fs-5">
            <% @lessons.each do |lesson| %>
            <tr>
              <td>
              <%= link_to lesson_path(lesson.id), class: "link-dark" do %>
                <%= lesson.name %>
              <% end %>
              </td>
              <td><%= l lesson.created_at %></td>
              <td><%= l lesson.updated_at %></td>
              <td><%= is_in_lecture(lesson.is_in_lecture) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>