<%= render 'public/after_sign_in_nav', customer: current_customer %>
<%= render 'public/menu' %>
<div class="container">
  <div class="row">
    <%= render partial: 'layouts/sidebar', locals: { categories: @categories, tags: @tags } %>
    <div class="col-9 offset-md-1">
      <h2 class="mt-5">評価作成</h2>
      <%= form_with model:@evaluation, local:true do |f| %>
      <% if @evaluation.errors.any? %>
        <%= render 'layouts/errors', item: @evaluation %>
      <% end %>
      <div class="col-3 fs-5 mt-5">
        <%= f.label:evaluation, "評価度", class: "form-label" %>
        <%= f.select:evaluation, [["⭐️", 1], ["⭐️⭐️", 2], ["⭐️⭐⭐️", 3],["⭐️⭐⭐️⭐", 4], ["⭐️⭐⭐️⭐⭐️", 5]], prompt: "選択してください" %>
      </div>
      <div class="col-9 fs-5 mt-5">
        <%= f.label:review, "レビュー", class: "form-label" %>
        <%= f.text_area:review, class: "form-control" %>
      </div>
        <%= f.hidden_field:lesson_id, :value => params[:lesson_id] %>
        <%= f.submit "評価する", class: "btn btn-warning btn-lg mt-5 " %>
      <% end %>
    </div>
  </div>
</div>