<%= render 'public/after_sign_in_nav', customer: current_customer %>
<div class="container">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <div class="col-9 offset-md-1">
      <%= render 'public/menue' %>
      <h2 class="col-3 mt-5">【<%= @lesson.name %>】</h2>
      <%= form_with model:@lesson, method: :patch, local:true do |f| %>
        <div class="col-3 mt-5">
          <%= f.label:name, "講座名", class: "form-label" %>
          <%= f.text_field:name, class: "form-control" %>
        </div>
        <div class="row mt-5">
          <div class="col-6">
            <%= f.label:content, "内容", class: "form-label" %>
            <%= f.text_area:content, class: "form-control" %>
          </div>
          <div class="col-3">
            <%= f.label:category_id, "カテゴリー", class: "form-label" %>
            <%= f.collection_select(:category_id, @categories, :id, :name, {prompt: "カテゴリー選択"}, class: "form-control" ) %>
          </div>
        </div>
        <div class="col-9 mt-5">
          <%= f.fields_for:tags do |tag| %>
            <%= f.label:name, "タグ（カンマ , で区切って入力してください）", class: "form-label" %></br>
            <%= tag.text_field:name %>
          <% end %>
        </div>
        <div class="row mt-5">
          <div class="col-3">
            <%= f.label:attending_style, "受講形態", class: "form-label" %></br>
            <%= f.select:attending_style, [ ["オンライン", "online"], ["オフライン", "offline"] ] %>
          </div>
          <div class="col-6">
            <%= f.label:access, "アクセス先(URLまたは住所)", class: "form-label" %>
            <%= f.text_field:access, class: "form-control" %>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-3">
            <%= f.label:contract_period, "契約期間", class: "form-label" %></br>
            <%= f.select:contract_period, [ ["単発", 0], ["１ヶ月", 1], ["６ヶ月", 6], ["１年", 12] ] %>
          </div>
          <div class="col-3">
            <%= f.label:price, "税抜価格", class: "form-label" %>
            <%= f.number_field:price, min: 1, class: "form-control" %>
          </div>
        </div>
        <div class="col-6 mt-5">
          <%= f.label:is_in_lecture, "開講状況", class: "form-label" %></br>
          <%= f.radio_button:is_in_lecture, true %>開講中 <%= f.radio_button:is_in_lecture, false %>準備中
        </div>
        <div class="row mt-5">
          <%= f.submit "編集する", class: "btn btn-primary col-2 me-5" %>
          <%= link_to "一覧へ戻る", lessons_path, class: "btn btn-info col-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>