<% if customer_signed_in? %>
  <%= render 'public/after_sign_in_nav', customer: current_customer %>
  <%= render 'public/menu' %>
<% end %>
<div class="container">
  <div class="row">
    <%= render partial: 'layouts/sidebar', locals: { categories: @categories, tags: @tags } %>
    <div class="col-9 offset-md-1">
      <h2 class="mt-5">講座一覧</h2>
      <div class="row">
        <% @lessons.each do |lesson| %>
        <div class="card col-5 m-3">
          <div class="card-body">
            <h4 class="card-title">
            <%= link_to lesson_path(lesson.id), class: "link-dark" do %>
              <%= lesson.name %>
            <% end %>
            </h4>
            <button class="btn btn-category btn-sm"><%= lesson.category.name %></button>
            <% if lesson.is_in_lecture %>
              <button class="btn btn-info btn-sm">開講中</button>
            <% else %>
              <button class="btn btn-secondary btn-sm">準備中</button>
            <% end %>
            <h5 class="card-subtitle mt-3"><%= lesson.customer.nickname %></h5>
            <p class="card-text mt-3"><%= lesson.content %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= lesson.attending_style_i18n %></li>
            <li class="list-group-item"><%= contract_period(lesson.contract_period) %><%= lesson.price %>円</li>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>