<%= render 'admin/after_sign_in_nav' %>
<div class="container">
  <div class="row">
    <%= render partial: 'layouts/sidebar', locals: { categories: @categories, tags: @tags } %>
    <div class="col-9 offset-md-1">
      <%= render 'public/menu' %>
      <h2 class="mt-5">検索結果一覧</h2>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th>講座名</th>
            <th>カテゴリー</th>
            <th>タグ</th>
            <th>受講形態</th>
            <th>アクセス先</th>
            <th>価格(税抜)</th>
          </tr>
        </thead>
        <tbody>
          <% @lessons.each do |lesson| %>
          <tr>
            <td>
              <%= link_to lesson_path(lesson.id), class: "link-dark" do %>
                <%= lesson.name %>
              <% end %>
            </td>
            <td><%= lesson.category.name %></td>
            <td>
            <% lesson.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
            </td>
            <td><%= lesson.attending_style_i18n %></td>
            <td><%= lesson.access %></td>
            <td><%= tax_price(lesson) %>円</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </dv>
  </div>
</div>