<% if current_customer %>
  <%= render 'public/after_sign_in_nav', customer: current_customer %>
  <%= render 'public/menu' %>
<% else %>
  <%= render 'layouts/before_sign_in_nav' %>
<% end %>
<div class="container">
  <div class="row">
    <%= render partial: 'layouts/sidebar', locals: { categories: @categories, tags: @tags } %>
    <div class="col-9 offset-md-1">
      <h2 class="mt-5">検索結果一覧</h2>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th>講座名</th>
            <th>カテゴリー</th>
            <th>タグ</th>
            <th>学び方</th>
            <th>税込価格</th>
          </tr>
        </thead>
        <tbody>
          <% @lessons.each do |lesson| %>
          <tr>
            <td>
              <%= link_to lesson_path(lesson.id), class: "link-dark" do %>
                <%= lesson.name %>
              <% end %>
            </td>
            <td>
              <button class="btn btn-category btn-sm"><%= lesson.category.name %></button>
            </td>
            <td>
            <% lesson.tags.each do |tag| %>
              <button class="btn btn-tag btn-sm"><%= tag.name %></button>
            <% end %>
            </td>
            <td>
              <%= lesson.attending_style_i18n %></br>
              <%= lesson.access %>
            </td>
            <td><%= tax_price(lesson) %>円</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>