<%= render 'public/after_sign_in_nav', customer: current_customer %>
<%= render 'public/menu' %>
<div class="container">
  <div class="row">
    <%= render partial: 'layouts/sidebar', locals: { categories: @categories, tags: @tags } %>
    <div class="col-9 offset-md-1">
      <h2 class="col mt-5">【<%= @lesson.name %>】</h2>
      <div class="row mt-5">
        <h5 class="col-2">先生名</h5>
        <p class="col-3 fs-5 border">
        <%= link_to customer_path(@lesson.customer_id), class: "link-dark" do %>
          <%= @lesson.customer.nickname %>
        <% end %>
        </p>
      </div>
      <div class="row mt-5">
        <h5 class="col-2">開講状況</h5>
        <button class="btn btn-secondary col-2"><%= is_in_lecture(@lesson.is_in_lecture) %></button>
      </div>
      <div class="row mt-5">
        <h5 class="col-2">評価平均</h5>
        <% if @evaluations.present? %>
          <div class="col-2">
          <%= form_with url: evaluations_path, method: :get, local:true do |f| %>
            <%= f.hidden_field:lesson_id, :value => @lesson.id %>
            <%= f.submit "#{evaluation_average(@evaluations)}", class: "fs-5" %>
          <% end %>
          </div>
        <% else %>
          <p class="col-2 fs-5 border">評価なし</p>
        <% end %>
      </div>
      <div class="col-6 mt-5">
        <h5>内容</h5>
        <p class="fs-5 border ms-3"><%= @lesson.content %></p>
      </div>
      <div class="row mt-5">
        <div class="col-3">
          <h5>受講形態</h5>
          <p class="fs-5 border ms-3"><%= @lesson.attending_style_i18n %></p>
        </div>
        <div class="col-6 offset-md-1">
          <h5>アクセス先</h5>
          <p class="fs-5 border ms-3"><%= @lesson.access %></p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-3">
          <h5>カテゴリー</h5>
          <p class="fs-5 border ms-3"><%= @lesson.category.name %></p>
        </div>
        <div class="col-6 offset-md-1">
          <h5>タグ</h5>
          <p class="fs-5 ms-3">
            <% @lesson.tags.each do |tag| %>
              <button class="btn btn-success"><%= tag.name %></button>
            <% end %>
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-3">
          <h5>契約期間</h5>
          <% if @lesson.contract_period==0 %>
          <p class="fs-5 border ms-3">単発</p>
          <% else %>
          <div class="row ms-3">
            <p class="fs-5 border col-7"><%= @lesson.contract_period %></p>
            <p class="fs-5 col-5">ヶ月</p>
          </div>
          <% end %>
        </div>
        <div class="col-3 offset-md-2">
          <h5>税抜価格</h5>
          <div class="row ms-3">
            <p class="fs-5 border col-5"><%= @lesson.price %></p>
            <p class="fs-5 col-1">円</p>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <% if @lesson.customer_id == current_customer.id %>
          <%= link_to "編集する", edit_lesson_path(@lesson.id), class: "btn btn-info col-2 me-5" %>
          <%= link_to "一覧へ戻る", customer_path(current_customer.id), class: "btn btn-primary col-2" %>
        <% else %>
          <%= form_with model:@cart_lesson, url: { controller: 'cart_lessons', action: 'create' }, local:true do |f| %>
            <%= f.hidden_field:lesson_id, :value => @lesson.id %>
            <%= f.submit "学ぶ", class: "btn btn-info col-2 me-5" %>
            <%= link_to "一覧へ戻る", lessons_path, class: "btn btn-primary col-2" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>