<%= render 'public/after_sign_in_nav', customer: current_customer %>
<%= render 'public/menu' %>
<div class="container">
  <div class="row">
    <%= render partial: 'layouts/sidebar', locals: { categories: @categories, tags: @tags } %>
    <div class="col-9 offset-md-1">
      <h2 class="col-3 mt-5">コメント編集</h2>
      <div class="col-10 mt-5">
      <%= form_with model:@comment, method: :patch, local:true do |f| %>
        <%= f.label:comment, "コメント", class: "form-label fs-5" %>
        <%= f.text_area:comment, class: "form-control" %>
        <div class="row mt-5">
          <%= f.submit "編集する", class: "btn btn-info col-2 me-3" %>
          <%= link_to "キャンセルする", comments_path, class: "btn btn-primary col-2" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>