<%= render 'public/after_sign_in_nav', customer: current_customer %>
<div class="container">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <div class="col-9 offset-md-1">
      <%= render 'public/menue' %>
      <h2 class="col-3 mt-5">コメント編集</h2>
      <%= form_with model:@comment, method: :patch, local:true do |f| %>
        <%= f.label:comment, "内容", class: "form-label" %>
        <%= f.text_area:comment, class: "form-control" %>
        <div class="row">
          <%= f.submit "編集する", class: "btn btn-info col-3 me-3" %>
          <%= link_to "キャンセルする", comments_path, class: "btn btn-primary col-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>