<% if current_customer %>
  <%= render 'public/after_sign_in_nav', customer: current_customer %>
  <%= render 'public/menu' %>
<% else %>
  <%= render 'layouts/before_sign_in_nav' %>
<% end %>
<div class="container">
  <div class="row">
    <%= render partial: 'layouts/sidebar', locals: { categories: @categories, tags: @tags } %>
    <div class="col-9 offset-md-1">
      <h2 class="col-3 mt-5">しゃべり場</h2>
      <% @comments.each do |comment| %>
      <% if comment.replying.blank? %>
        <div class="card col-10 mt-5">
          <div class="card-header fs-4"><%= comment.customer.nickname %></div>
          <div class="card-body">
            <%= link_to comment_path(comment.id), class: "card-title" do %>
              <%= comment.id %>
            <% end %>
            <p class="subtitle text-muted"><%= l comment.updated_at %></p>
            <p class="card-text fs-4"><%= comment.comment %></p>
            <div class="row d-flex justify-content-end">
              <% if current_customer && comment.customer_id == current_customer.id %>
                <%= link_to "編集", edit_comment_path(comment.id), class: "btn btn-primary col-1 me-3" %>
                <%= link_to "削除", "/comments/#{comment.id}", method: :delete,  class: "btn btn-danger col-1 me-3" %>
              <% end %>
            </div>
          </div>
        </div>
        
        <% if current_customer %>
        <%= form_with model:@comment, local:true do |f| %>
        <div class="row mt-5">
          <div class="col-7">
            <%= f.hidden_field:id, :value => comment.id %>
            <%= f.label:comment, "返信コメント", class: "form-label" %>
            <%= f.text_area:comment, class: "form-control" %>
          </div>
          <div class="col-3 mt-5">
            <%= f.submit "返信する", class: "btn btn-info me-2" %>
            <%= link_to "キャンセル", comments_path, class: "btn btn-primary" %>
          </div>
        </div>
        <% end %>
        <% end %>

      <% end %>
      <% end %>
    </div>
  </div>
</div>