<nav class="navbar navbar-light bg-info px-3">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag '卒業生アイコン.png', height: 70, width: 70 %>LERN COMMUNITY
    <% end %>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <%= link_to "HOME", admin_root_path, class: "nav-link link-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "会員一覧", admin_customers_path, class: "nav-link link-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "講座一覧", admin_lessons_path, class: "nav-link link-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "評価一覧", admin_evaluations_path, class: "nav-link link-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "カテゴリー一覧", admin_categories_path, class: "nav-link link-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "タグ一覧", admin_tags_path, class: "nav-link link-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link link-dark" %>
        </li>
      </ul>
    </div>
  </nav>
</div>