<%= render 'admin/after_sign_in_nav' %>
<div class="container">
  <div class="row">
    <%= render partial: 'layouts/sidebar', locals: { categories: @categories, tags: @tags } %>
    <div class="col-9 offset-md-1">
      <h2 class="mt-5">講座詳細画面</h2>
      <h2 class="col mt-5">【<%= @lesson.name %>】</h2>
      <div class="row mt-5">
        <h5 class="col-2">会員名</h5>
        <p class="col-3 fs-5 border">
        <%= link_to admin_customer_path(@lesson.customer_id), class: "link-dark" do %>
          <%= @lesson.customer.nickname %>
        <% end %>
        </p>
      </div>
      <div class="row mt-5">
        <h5 class="col-2">評価平均</h4>
        <% if @evaluations.present? %>
          <div class="col-2">
            <%= form_with url: evaluations_path, method: :get, local:true do |f| %>
              <%= f.hidden_field:lesson_id, :value => @lesson.id %>
              <%= f.submit "#{evaluation_average(@evaluations)}", class: "fs-5" %>
            <% end %>
          </div>
        <% else %>
          <p class="col-2 fs-5 border">評価なし</p>
        <% end %>
      </div>
      <div class="row mt-5">
        <h5 class="col-2">受講者数</h5>
        <p class="col-2 fs-5 border"><%= HaveLesson.where(lesson_id: @lesson.id).count %>人</p>
      </div>
      <div class="col-6 mt-5">
        <h5>内容</h5>
        <p class="fs-5 border ms-3"><%= @lesson.content %></p>
      </div>
      <div class="row mt-5">
        <div class="col-3">
          <h5>受講形態</h5>
          <p class="fs-5 border ms-3"><%= @lesson.attending_style_i18n %></p>
        </div>
        <div class="col-6 offset-md-1">
          <h5>アクセス先</h5>
          <p class="fs-5 border ms-3"><%= @lesson.access %></p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-3">
          <h5>カテゴリー</h5>
          <p class="fs-5 border ms-3"><%= @lesson.category.name %></p>
        </div>
        <div class="col-6 offset-md-1">
          <h5>タグ</h5>
          <p class="fs-5 ms-3">
            <% @lesson.tags.each do |tag| %>
              <button class="btn btn-success"><%= tag.name %></button>
            <% end %>
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-3">
          <h5>契約期間</h5>
          <p class="fs-5 border"><%= contract_period(@lesson.contract_period) %></p>
        </div>
        <div class="col-3 offset-md-2">
          <h5>税抜価格</h5>
          <div class="row ms-3">
            <p class="fs-5 border col-5"><%= @lesson.price %></p>
            <p class="fs-5 col-1">円</p>
          </div>
        </div>
      </div>
      <div class="row mt-5 offset-md-3">
        <%= link_to "一覧へ戻る", admin_lessons_path, class: "btn btn-primary col-2" %>
      </div>
    </div>
  </div>
</div>