<%= render 'admin/after_sign_in_nav' %>
<div class="container">
  <div class="row mt-5">
    <%= render 'layouts/sidebar' %>
    <div class="col-9 offset-md-1">
      <h2>会員詳細画面</h2>
      <div class="row">
        <div class="col-3">
          <p class="fs-4 mt-3">名前：</p>
          <p class="fs-4 mt-3">フリガナ：</p>
          <p class="fs-4 mt-3">住所：</p>
          <p class="fs-4 mt-3">電話番号：</p>
          <p class="fs-4 mt-3">メールアドレス：</p>
          <p class="fs-4 mt-3">振込先：</p>
          <p class="fs-4 mt-3">学び中：</p>
          <p class="fs-4 mt-3">教え中：</p>
          <p class="fs-4 mt-3">会員ステータス：</p>
        </div>
        <div class="col-6">
          <p class="fs-4 mt-3"><%= @customer.full_name %></p>
          <p class="fs-4 mt-3"><%= @customer.full_name_kana %></p>
          <p class="fs-4 mt-3">〒<%= @customer.full_address %></p>
          <p class="fs-4 mt-3"><%= @customer.phone_number %></p>
          <p class="fs-4 mt-3"><%= @customer.email %></p>
          <p class="fs-4 mt-3"><%= @customer.transfer_target %></p>
          <p class="fs-4 mt-3">""</p>
          <p class="fs-4 mt-3">""</p>
          <% if @customer.is_deleted %>
            <button class="btn btn-success">有効</button>
          <% else %>
            <button class="btn btn-danger">無効</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>