<%= render 'public/after_sign_in_nav', customer: current_customer %>
<div class="container">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <div class="col-9 offset-md-1">
      <%= render 'public/menue' %>
      <h2 class="mt-5">タグ一覧</h2>
      <table class="table table-hover mt-5">
        <thead>
          <tr>
            <th>タグ名</th>
            <th>関連講座</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td><%= tag.name %></td>
            <td>
            <% tag.tag_lists.each do |tag_list| %> 
              <%= link_to admin_lesson_path(tag_list.lesson.id), class: "link-dark" do %>
                <%= tag_list.lesson.name %></br>
              <% end %>
            <% end %>
            </td>
            <td><%= link_to "削除", admin_tag_path(tag.id), class: "btn btn-danger" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
