<%= render 'admin/after_sign_in_nav' %>
<div class="container">
  <div class="row mt-5">
    <%= render partial: 'layouts/sidebar', locals: { categories: @categories, tags: @tags } %>
    <div class="col-9 offset-md-1">
      <h2>カテゴリー一覧</h2>
        <% @categories.each do |category| %>
          <%= form_with model:category, url: admin_category_path(category.id), method: :patch, local:true do |f| %>
          <div class="row mb-3">
            <div class="col-3"><%= f.text_field:name, class: "form-control" %></div>
            <%= f.submit "更新", class: "btn btn-primary col-1 ms-2" %>
            <%= link_to "削除", "/admin/categories/#{category.id}", method: :delete, class: "btn btn-danger col-1 ms-2" %>
          </div>
          <% end %>
        <% end %>
      <h2>カテゴリー登録</h2>
      <div class="row mt-5">
        <%= form_with model:@category, url: { controller: 'categories', action: 'create' }, local:true do |f| %>
        <div class="col-3">
          <%= f.text_field:name, class: "form-control" %>
        </div>
        <%= f.submit "登録", class: "btn btn-info mt-1" %>
        <% end %>
      </div>
    </div>
  </div>
</div>