<%= render 'public/after_sign_in_nav', customer: current_customer %>
<div class="container">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <div class="col-9 offset-md-1">
      <%= render 'public/menue' %>
      <h2 class="mt-5">学び一覧</h2>
      <table class="table table-hover mt-5">
        <thead>
          <tr>
            <th>講座名</th>
            <th>開始日</th>
            <th>更新日</th>
            <th>進捗</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @have_lessons.each do |have_lesson| %>
          <tr>
            <td><%= have_lesson.lesson.name %></td>
            <td><%= l have_lesson.created_at %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>