<%= render 'public/after_sign_in_nav', customer: current_customer %>
<div class="container">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <div class="col-9 offset-md-1">
      <%= render 'public/menue' %>
      <h2 class="mt-5">学び一覧画面</h2>
      <table class="table table-hover mt-5">
        <thead class="fs-4">
          <tr>
            <th>講座名</th>
            <th>購入日</th>
            <th>更新日</th>
            <th>進捗状況</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="fs-5">
        <% @have_lessons.each do |have_lesson| %>
          <tr>
            <td>
              <%= link_to have_lesson_path(have_lesson.id), class: "link-dark" do %>
                <%= have_lesson.lesson.name %>
              <% end %>
            </td>
            <td><%= l have_lesson.created_at %></td>
            <td>
              <% if have_lesson.lesson.contract_period == 0 %>
                単発のため更新なし
              <% else %>
                <%= l update_at_date(have_lesson.updated_at, have_lesson.lesson.contract_period) %>
              <% end %>
            </td>
            <td>
              <% case have_lesson.is_in_study %>
              <% when "not_started" %>
                <button class="btn btn-secondary"><%= have_lesson.is_in_study_i18n %></button>
              <% when "in_study" %>
                <button class="btn btn-success"><%= have_lesson.is_in_study_i18n %></button>
              <% when "learned" %>
                <button class="btn btn-info"><%= have_lesson.is_in_study_i18n %></button>
              <% end %>
            </td>
            <td>
              <%= form_with url: new_evaluation_path, method: :get, local:true do |f| %>
                <%= f.hidden_field:lesson_id, :value => have_lesson.lesson.id %>
                <%= f.submit "評価する", class: "btn btn-warning" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>