<%= render 'public/after_sign_in_nav', customer: current_customer %>
<div class="container">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <div class="col-9 offset-md-1">
      <%= render 'public/menue' %>
      <h2 class="mt-5">学び詳細画面</h2>
      <h3 class="col-3 mt-5">【<%= @have_lesson.lesson.name %>】</h3>
      <div class="row mt-5">
        <div class="col-4">
          <h4>内容</h4>
          <p class="fs-5 border ms-3"><%= @have_lesson.lesson.content %></p>
        </div>
        <div class="col-3">
          <h4>カテゴリー</h4>
          <p class="fs-5 border ms-3"><%= @have_lesson.lesson.category.name %></p>
        </div>
        <div class="col-5">
          <h4>タグ</h4>
          <p class="fs-5 ms-3">
            <% @have_lesson.lesson.tags.each do |tag| %>
              <button class="btn btn-success m-1"><%= tag.name %></button>
            <% end %>
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-3">
          <p class="fs-4">更新日</p>
          <p class="fs-5 border">
          <% if @have_lesson.lesson.contract_period == 0 %>
            単発のため更新なし
          <% else %>
            <%= l update_at_date(@have_lesson.updated_at, @have_lesson.lesson.contract_period) %>
          <% end %>
          </p>
        </div>
        <div class="col-5">
          <p class="fs-4">価格</p>
          <p class="col-6 fs-5 border"><%= @have_lesson.lesson.price %>円</p>
        </div>
      </div>
      <div class="row"></div>
      <%= form_with model:@have_lesson, method: :patch, local:true do |f| %>
      <div class="row mt-5">
        <div class="col-4">
          <%= f.label:progress, "進捗状況", class: "form-label fs-4" %>
          <%= f.number_field:progress, min: 1, max: 100, class: "form-control fs-5" %>
        </div>
        <div class="col-1 mt-5 fs-5">
          <%= f.select:is_in_study,[["未学習", "not_started"], ["学習中", "in_study"], ["学習済み", "learned"]] %>
        </div>
        <div class="col-2 mt-5 ms-5">
          <%= f.submit "変更する", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>
      <div class="row mt-5 offset-md-3">
        <div class="col-2">
        <%= form_with model:@cart_lesson, local:true do |f| %>
          <%= f.hidden_field:lesson_id, :value => @have_lesson.lesson_id %>
          <%= f.submit "更新する", class: "btn btn-primary" %>
        <% end %>
        </div>
        <%= link_to "一覧へ戻る", have_lessons_path, class: "btn btn-info col-2" %>
      </div>
    </div>
  </div>
</div>