<nav class="wrap shadow-sm">
  <ul class="d-flex offset-md-3">
    <li class="tab mx-5 fs-5">学びたい</li>
    <li class="tab mx-5 fs-5">教えたい</li>
    <li class="tab mx-5 fs-5">しゃべり場</li>
  </ul>
  <div>
    <div class="col-3 offset-md-3">
      <ul class="menu-box">
        <li class="menu">
          <%= link_to "講座一覧", lessons_path, class: "link" %>
        </li>
        <li class="menu">
          <%= link_to "検索する", search_lessons_path, class: "link" %>
        </li>
        <li class="menu">
          <%= link_to "学び一覧", have_lessons_path, class: "link" %>
        </li>
      </ul>
      </div>
      <div class="col-3 offset-md-4">
        <ul class="menu-box">
        <li class="menu">
          <%= link_to "振込先情報確認・変更", current_customer_transfer_path, class: "link" %>
        </li>
        <li class="menu">
          <%= link_to "講座新規作成", new_lesson_path, class: "link" %>
        </li>
        <li class="menu">
          <%= link_to "教え一覧", customer_path(current_customer), class: "link" %>
        </li>
      </ul>
      </div>
      <div class="col-3 offset-md-5">
        <ul class="menu-box">
          <li class="menu">
            <%= link_to "しゃべり場に入る", comments_path, class: "link" %>
          </li>
          <li class="menu">
            <%= link_to "新規コメント", new_comment_path, class: "link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>